#body {
    background-color: rgba(0, 0, 0, 0.836);
    
}

#card {
    margin-top: 50px;
}

.card-text {
    color: red;
}

.card-img-top {
    height: 150px;
}

.form-select {
    margin-right: 10px;
}

.d-flex input, .d-flex button {
    margin-right: 20px;
}