{% extends "base/base.html" %}
{% block title %}Va Sight{% endblock title %}
{% block body %}
{% load static %}

<link href="{% static 'css/home.css' %}" rel="stylesheet">



<div class="container">
  <div class="row">
      {% for players in player %}
          <div class="col-md-4">
              <div class="card" style="width: 20rem;" id="card">
                  <img src="{{ players.image }}" class="card-img-top" alt="...">
                  <div class="card-body">
                      <h5 class="card-title">{{ players.player }}</h5>
                      <p class="card-text">{{ players.key }}</p>
                      <a href="#" class="btn btn-primary">COPIAR</a>
                  </div>
              </div>
          </div>
          {% if forloop.counter|divisibleby:3 and not forloop.last %}
              </div><div class="row">
          {% endif %}
      {% endfor %}
  </div>
</div>


{% endblock body %}